.card{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
    height: 60vh !important;
    padding: 20px !important;
    margin-top: 55px !important;
    grid-gap: 55px !important;
}

.card img {
    height: 20vh ;
    width: 100%;
    object-fit: contain;
    margin-top: 10%;
}

  .text-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
  }

 .text-desc {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
  
  .button-choose{
    gap: 2;
    display: grid;
  }